1.1 Importando Dataset

In [ ]:
import pandas as pd

data = pd.read_csv('GasPricesinBrazil_2004-2019.csv', sep=';')

1.2 Mostrando as Colunas e dados do Dataset

In [ ]:
data.head(5) # Mostra as 5 primeiras linhas do dataset
data.info() # Mostra as colunas e o tipo de dado de cada coluna
type(data) # Mostra o tipo do objeto data
data.shape # Mostra a quantidade de linhas e colunas do dataset

1.3 Criar um Dataframe

In [ ]:
#COLUNAS -  Index Jogo Idade Peso Gamer
#O nome das colunas podem ter espaços, mas é recomendado não ter

alunos_df = pd.DataFrame({
    'Jogo': ['Fortnite', 'Minecraft', 'Roblox'],
    'Idade': [17, 12, 15],
    'Peso': [70, 50, 60],
    'Gamer': [True, False, True]
})


#Retornar uma lista com as colunas do DataFrame
alunos_df.columns # ou usar assim para criar uma lista limpa - alunos_df.columns.tolist() 

#Renomear o nome das colunas, criando um cópioa do DataFrame
new_alunos = alunos_df.rename(columns={
    'Jogo': 'Game',
    'Idade': 'Nascimento',
})
# display(new_alunos)


#MUdar a coluna na mesma variável/dataframe
alunos_df.rename(columns={
    'Jogo': 'Game_OK',
}, inplace=True)
# display(alunos_df)

#Mudar todos as colunas de uma vez
# alunos_df.columns.tolist()
alunos_df.columns = ['Game', 'Age', 'Weight', 'ProPlayer']
alunos_df

        Game  Age  Weight  ProPlayer
0   Fortnite   17      70       True
1  Minecraft   12      50      False
2     Roblox   15      60       True